/**************** MIXINS ****************/

@mixin fsize-pad($size, $pad:null) {
    @if $size { font-size: $size; }
    @if $pad { padding: $pad; }
}
@mixin colors($foreG, $backG:null) {
    @if $foreG { color: $foreG; }
    @if $backG { background-color: $backG; }
}
@mixin flex-fam($dir:null, $just:null, $align:null, $wrap:null, $flow:null) {
    @if $dir { flex-direction:$dir; }
    @if $just { justify-content: $just; }
    @if $align { align-items: $align; }
    @if $wrap { flex-wrap:$wrap; }
    @if $flow { flex-flow:$flow; }
}
@mixin column-size($width, $margin:null) {
    @if $width { width: $width; }
    @if $margin { margin: $margin; }
}
@mixin set-box-sizing($property) {
    -webkit-box-sizing: $property;
    box-sizing: $property;
}
@mixin breakpt-sm() {
    @media #{$breakpoint-small} {
        @content;
    }
}
@mixin breakpt-med() {
    @media #{$breakpoint-medium} {
        @content;
    }
}
@mixin breakpt-lg() {
    @media #{$breakpoint-large} {
        @content;
    }
}
