

/**************** MIXINS ****************/


@function double($size) {
    @return $size * 2;
}
@mixin fsize-pad($size, $pad:null) {
    @if $size { font-size: $size; }
    @if $pad { padding: $pad; }
}
@mixin colors($foreG, $backG:null) {
    @if $foreG { color: $foreG; }
    @if $backG { background-color: $backG; }
}
@mixin flex-fam($dir:null, $just:null, $align:null, $wrap:null, $flow:null, $flex:null) {
    @if $dir { flex-direction:$dir; }
    @if $flow { flex-flow:$flow; }
    @if $wrap { flex-wrap:$wrap; }
    @if $just { justify-content: $just; }
    @if $align { align-items: $align; }
    // Allow nulls in $flex list, but still use shorthand if possible:
    @if length($flex) > 2 and nth($flex, 1) and nth($flex, 2) and nth($flex, 3) { 
        flex:$flex;
    } @else {
        @if $flex { flex-grow:nth($flex, 1); }
        @if length($flex) > 1 { flex-shrink:nth($flex, 2); }
        @if length($flex) > 2 { flex-basis:nth($flex, 3); }
    }
}
@mixin column-size($width, $margin:null) {
    @if $width { width: $width; }
    @if $margin { margin: $margin; }
}
@mixin breakpt-sm() {
    @media #{$breakpoint-small} {
        @content;
    }
}
@mixin breakpt-med() {
    @media #{$breakpoint-medium} {
        @content;
    }
}
@mixin breakpt-lg() {
    @media #{$breakpoint-large} {
        @content;
    }
}
