/***********************************************
                COLOUR NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63

light brown #C9A689
dark brown  #7C593C

light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/


/**************** VARIABLES ****************/
$col-mobile: 400px;
$col-small: 700px;
$col-medium: 900px;
$col-large: 1400px;
$breakpoint-small: 'all and (min-width:' + ($col-small + 1) + ') and (max-width:' + $col-medium + ')';
$breakpoint-medium: 'all and (min-width:' + ($col-medium + 1) + ') and (max-width:' + $col-large + ')';
$breakpoint-large: 'all and (min-width:' + ($col-large + 1) + ')';
$col-innerMed: 600px;

$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3a5E63;
$white: #fff;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-grey: #d4d4d4;
$dark-grey: #222;

$sans-font: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif; /* default for whole page */
$serif-font: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
