/***********************************************
                COLOUR NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63

light brown #C9A689
dark brown  #7C593C

light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/


/**************** VARIABLES ****************/
$font-rem: 3.998rem;
$ln-height: 1.6;

$breaks: (
    "mobile": 400px,
    "small": 700px,
    "medium": 900px,
    "large": 1400px
);
$media_strings: build_media_strings(); // Map of media query strings
$col-inner-med: 600px;
$col-margin: 0 auto;

$sans-font: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif; /* default for whole page */
$serif-font: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */

$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3a5E63;
$white: #fff;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-grey: #d4d4d4;
$dark-grey: #222;

$global-placeholds: ();
$gp-origin-break: "mobile";
$gp-break: $gp-origin-break;

